@model IEnumerable<ArStore.API.Models.Product>
@{
    ViewData["Title"] = "Товары";

    var counter = 0;
    var count = ViewData["Count"] as int?;
    var totalCount = ViewData["TotalCount"] as int?;
}

<h2>Товары</h2>
<p>
    <a asp-action="ProductsAddOrUpdate">Создать новый товар</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Название
            </th>
            <th>
                Главное изображение
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(++counter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="~/images/products/@item.ImageForTarget" width="200" />
                </td>

                <td>
                    @Html.ActionLink("Изменить", "ProductsAddOrUpdate", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "ProductsDelete", new { id = item.Id }, new { onclick = "return confirm('Вы действительно хотите удалить?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
